@charset 'UTF-8';

/**
 * basic styles
 * kv.wang87@gmail.com
 */

/* 文本字号大小 */
h1 { font-size: 18px; }
h2 { font-size: 17px; }
h3, h4 { font-size: 16px; }
h5, .kui-txt-sub { font-size: 14px; }
h6, .kui-txt-tips { font-size: 12px; }


/* 文字颜色 */
.kui-txt-default { color: #000; }
.kui-txt-info { color: #777; }
.kui-txt-muted { color: #bbb; }
.kui-txt-warning, .kui-txt-red { color: #ff4222; }
.kui-txt-feeds { color: #314c83; }
.kui-txt-highlight {color: #ff8444; }
