@charset 'UTF-8';

/**
 * basic styles
 * kv.wang87@gmail.com
 */

/* 文本字号大小 */
h1 { font-size: 18px; }
h2 { font-size: 17px; }
h3, h4 { font-size: 16px; }
h5, .kui-txt-sub { font-size: 14px; }
h6, .kui-txt-tips { font-size: 12px; }

/* 文字颜色 */
.kui-txt-default { color: #000; }
.kui-txt-info { color: #777; }
.kui-txt-muted { color: #bbb; }
.kui-txt-error, .kui-txt-red, em { color: #ff4222; }
.kui-txt-feeds { color: #314c83; }
.kui-txt-highlight {color: #ff8444; }
a,a:hover { color:rgb(220, 20, 20); }

/* 文本对齐 */
.kui-txt-justify { text-align: justify;  }
.kui-txt-justify-one { text-align: justify; overflow: hidden; height: 24px; }
.kui-txt-justify-one:after { content: ''; display: inline-block;  height: 0; width: 100%; overflow: hidden; }


/* 箭头 */
.kui-arrowlink { position: relative; }
.kui-arrowlink:before {
    position: absolute;
    right: 0;
    top: 50%;
    content: "\F600";
    font: normal normal 24px/1.5 'fziconfont'; 
    -webkit-font-smoothing: antialiased;
    -webkit-text-stroke-width: 0.2px;
    margin-top:-18px; /* 24 * 1.5 * 0.5 */
}

/* 文字截断 */
.kui-nowrap-one { overflow: hidden; text-overflow: ellipsis; white-space: nowrap;  }
.kui-nowrap {
    display: -webkit-box;
    display: box;
    -webkit-box-orient: vertical;
    		box-orient:vertical;
    -webkit-line-clamp: 2;
    		line-clamp: 2;
    text-overflow: ellipsis;
    overflow: hidden;
}

/* 文字占位 */
.kui-placeholder { padding-top: 30px; position: relative; overflow: hidden; }
.kui-placeholder>p {
    display: -webkit-box;
    -webkit-box-pack: center;
    		box-pack : center;
    -webkit-box-align : center;
    		box-align : center;
    		color: #bbb;
}


