/* 自定义字体元素 */

@font-face {
    font-family: "miconfont";
    src: url('micon/iconfont.woff') format('woff'), /* chrome, firefox */
    url('micon/iconfont.ttf') format('truetype'), /* chrome, firefox, opera, Safari, Android, iOS 4.2+*/
    url('micon/iconfont.svg#iconfont') format('svg');
    /* iOS 4.1- */
}

[class^="kui-icon-"] {
    font-family: "miconfont" !important;
    font-size: 24px;
    font-style: normal;
    -webkit-font-smoothing: antialiased;
    -webkit-text-stroke-width: 0.2px;
    -moz-osx-font-smoothing: grayscale;
}

[class^="kui-icon-"]:before {
    position: relative;
    left: 0;
    top: -1px;
}

.kui-icon-zan:before {
    content: "\e613";
}

.kui-icon-top:before {
    content: "\e612";
}

.kui-icon-share:before {
    content: "\e610";
}

.kui-icon-tel:before {
    content: "\e611";
}

.kui-icon-person:before {
    content: "\e60e";
}

.kui-icon-set:before {
    content: "\e60f";
}

.kui-icon-ok:before {
    content: "\e60d";
}

.kui-icon-oderfrom:before {
    content: "\e60c";
}

.kui-icon-oder:before {
    content: "\e60b";
}

.kui-icon-momeny:before {
    content: "\e609";
}

.kui-icon-news:before {
    content: "\e60a";
}

.kui-icon-date:before {
    content: "\e607";
}

.kui-icon-from:before {
    content: "\e608";
}

.kui-icon-check:before {
    content: "\e605";
}

.kui-icon-confirm:before {
    content: "\e606";
}

.kui-icon-cam:before {
    content: "\e604";
}

.kui-icon-back:before {
    content: "\e602";
}

.kui-icon-buy:before {
    content: "\e603";
}

.kui-icon-add:before {
    content: "\e601";
}

.kui-icon-home:before {
    content: "\e614";
}

/* 自定义字体图标 参考 FrozenUI 字体部分 */
@font-face {
    font-family: "fziconfont";
    src: url(font/iconfont-full.ttf) format("truetype");
}


